:root {
  --startColor: hsl(0, 100%, 75%);
  --stopColor: hsl(0, 100%, 75%);
}

.container {
  width: 100vw;
  height: 100vh;
}

.childrenContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  pointer-events: none; /* Allow interaction with the SVG beneath */
}

.blob {
  width: 70vw;
  height: 90vmin;
}

.blob path {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .blob path {
    scale: 1.1;
    transform: translateY(-30px);
  }
}

@media only screen and (max-width: 767px) {
  .blob {
    height: 100%;
    scale: 1.5;
  }
}
