.container {
  display: flex;
  justify-content: space-evenly;
  padding: 0 10rem;
  flex-wrap: wrap;
  row-gap: 20px;
}
.brick {
  background: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Goldman";
  font-size: 1.3rem;
  position: relative;
  color: black;
  cursor: pointer;
  outline: none;
  border: 2px solid #fece02;
}
.brickFront {
  display: inline-block;
  padding: 20px;
  border: 4px solid #000;
  background-color: #fff;
  position: relative;
  transition: all 0.2s ease;
  transform: translate3d(0, 0, 0);
  box-shadow: 0 0 0 0 black;
}

.brickFront:hover,
.brick.active .brickFront {
  transform: translate3d(10px, -10px, 0);
  box-shadow: 0px 0px 0 black, -1px 1px 0 black, -2px 2px 0 black,
    -3px 3px 0 black, -4px 4px 0 black, -5px 5px 0 black, -6px 6px 0 black,
    -7px 7px 0 black, -8px 8px 0 black, -9px 9px 0 black, -10px 10px 0 black;
}

@media only screen and (max-width: 1800px) {
  .brick {
    font-size: 1.2rem;
  }
  .brickFront {
    padding: 15px;
  }
}

@media only screen and (max-width: 1366px) {
  .container {
    padding: 0 6rem;
  }
  .brick {
    font-size: 1.1rem;
  }
  .brickFront {
    padding: 10px;
  }
}

@media only screen and (max-width: 836px) {
  .container {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .brick {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 0 1rem;
  }
  .brick {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 500px) {
  .brick {
    font-size: 0.8rem;
    margin-right: 0;
  }
}
