.container {
  max-width: 1920px;
  /* height: 500px; */
  margin: 0 auto;
}

.carouselContainer {
  opacity: 0;
  transition: opacity 3s ease, transform 3s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}
