.container {
  max-width: 1920px;
  /* height: 500px; */
  margin: 0 auto;
}

.swiper {
  transform: translateX(-25px);
}
@media only screen and (max-width: 1280px) {
  .swiper {
    transform: translateX(0);
  }
}

/* .swiper:nth-child(2) {
}

.swiper:nth-child(3) {
} */

.carouselContainer {
  opacity: 0;
  transition: opacity 3s ease, transform 3s ease;
}

.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.fadedEdges {
  position: relative;
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 30px,
    black calc(100% - 30px),
    transparent 100%
  );
  mask-image: linear-gradient(
    to right,
    transparent 0px,
    black 30px,
    black calc(100% - 30px),
    transparent 100%
  );
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.swiperSlide {
  width: fit-content;
}
