main {
  overflow: hidden;
  background: #000;
  transform-style: preserve-3d;
  @include perspective(1000px);
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

main div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.content {
  width: 100vw;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
  /* pointer-events: none; */
}

.aurora {
  margin: 0;
  --x: calc(var(--posX, 0) * 1px);
  --y: calc(var(--posY, 0) * 1px);
  background-image: linear-gradient(115deg, #fece02, rgb(0 0 0)),
    radial-gradient(
      90% 100% at calc(50% + var(--x)) calc(0% + var(--y)),
      rgb(200 200 200),
      rgb(022 000 045)
    ),
    radial-gradient(
      100% 100% at calc(80% - var(--x)) calc(0% - var(--y)),
      #fece02,
      rgb(39, 35, 0)
    ),
    radial-gradient(
      150% 210% at calc(100% + var(--x)) calc(0% + var(--y)),
      rgb(020 175 125),
      rgb(000 010 255)
    ),
    radial-gradient(
      100% 100% at calc(100% - var(--x)) calc(30% - var(--y)),
      #fece02,
      rgb(000 200 255)
    ),
    linear-gradient(60deg, rgb(255 000 000), rgb(120 086 255));
  background-blend-mode: overlay, overlay, difference, difference, difference,
    normal;
}
.about {
  padding: 5rem 12rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Goldman";
  letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);
  word-spacing: 1rem;
  text-align: justify;
  position: relative;
}

.carousel {
  height: 700px;
  width: 100vw;
}

.about h1 {
  font-size: 3rem;
  margin: 0;
}

.genreSelector {
  text-align: center;
  display: flex;
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 5rem;
}

.genreSelector button {
  margin-right: 20px;
}

.about h3 {
  font-size: 2rem;
  padding-top: 5rem;
  margin: 0;
}

.playerContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1920px) {
  .about {
    padding: 3rem 10rem;
  }
  .about h1 {
    font-size: 3rem;
  }

  .about h3 {
    font-size: 2rem;
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 1366px) {
  .about {
    padding: 4rem 6rem;
  }
  .about h1 {
    font-size: 2rem;
  }

  .about h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 3rem 5rem;
  }
  .about h1 {
    font-size: 1.5rem;
  }

  .about h3 {
    font-size: 1.5rem;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 3rem;
  }
  .about h1 {
    font-size: 1.2rem;
  }

  .about h3 {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}
