main {
  overflow: hidden;
  background: #000;
  transform-style: preserve-3d;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
}

main div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.content {
  width: 100vw;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 0;
  /* pointer-events: none; */
}
.about {
  padding: 5rem 12rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-family: "Goldman";
  letter-spacing: clamp(-1.75px, -0.25vw, -3.5px);
  word-spacing: 1rem;
  text-align: justify;
  position: relative;
}

.carousel {
  height: 700px;
  width: 100vw;
}

.about h1 {
  font-size: 3rem;
  margin: 0;
}

.genreSelector {
  text-align: center;
  display: flex;
  justify-content: center;
  row-gap: 20px;
  padding-bottom: 5rem;
}

.genreSelector button {
  margin-right: 20px;
}

.about h3 {
  font-size: 2rem;
  padding-top: 5rem;
  margin: 0;
}

.playerContainer {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1920px) {
  .about {
    padding: 3rem 10rem;
  }
  .about h1 {
    font-size: 3rem;
  }

  .about h3 {
    font-size: 2rem;
    padding-top: 3rem;
  }
}

@media only screen and (max-width: 1366px) {
  .about {
    padding: 4rem 6rem;
  }
  .about h1 {
    font-size: 2rem;
  }

  .about h3 {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 3rem 5rem;
  }
  .about h1 {
    font-size: 1.5rem;
  }

  .about h3 {
    font-size: 1.5rem;
    padding-top: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 3rem;
  }
  .about h1 {
    font-size: 1.2rem;
  }

  .about h3 {
    font-size: 1.2rem;
    padding-top: 2rem;
  }
}
