.playerContainer {
  min-height: 2rem;
  background-color: #2e2d2d;
  display: flex;
  flex-direction: column;
  gap: 2.25rem;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0.5rem 10px;
}

.playerControls {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin: auto;
  flex: 1;
}

.volumeControl {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #9ca3af;
}

.mediaContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.currentTrack {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.currentTrackCover {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  background-color: #e5e7eb;
  border-radius: 0.375rem;
}
.currentTrackCover img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.currentTrackName {
  font-weight: bold;
}

.progressBarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  width: 100%;
}

.progressBar {
  max-width: 80%;
  background-color: #d1d5db;
}

.progressBarContainer input[type="range"] {
  --range-progress: 50%;
  /* ... */
}

.progressBarContainer input[type="range"]::before {
  /* ... */
  background: #f50;
  width: var(--range-progress);
  /* ... */
}

@media (min-width: 1024px) {
  .playerContainer {
    flex-direction: row;
  }
  .currentTrackName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 16rem;
  }
}
